<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuyu.spring.template.module.user.mapper.UserMapper">


    <select id="getByAccount" resultType="com.shuyu.spring.template.module.user.entity.User">
        select * from user where account = #{account} and status != 3
    </select>


    <resultMap type="com.shuyu.spring.template.module.user.entity.User" id="linkMap">
        <!--不添加此项会导致adid在主数据总返回空-->
        <result column="roleid" jdbcType="INTEGER" property="roleid" />
        <collection property="roles" column="roleid" select="com.shuyu.spring.template.module.role.mapper.UserRoleMapper.getByRoleId"/>
    </resultMap>


    <select id="getUserInfo"
            resultMap="linkMap"
            resultType="com.shuyu.spring.template.module.user.entity.User">
        select * from user where account = #{account} and status != 3
    </select>



</mapper>
